APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=luminus
DB_USERNAME=root
DB_PASSWORD=

QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=null
REDIS_QUEUE_DB=1

BEANSTALKD_HOST=127.0.0.1
BEANSTALKD_PORT=11300
